.body{
  margin: 0;
  color: #858585;
}

.header{
  color: #858585;
  border-bottom: solid 1px #acacac;
  padding: 0;
  margin: 0;
  width: 100%;
}

.iconImage{
  border: solid 1px #dbdbdb;
  border-radius: 50%;
  height: 2em;
  width: 2em;
}

.titleLink{
  display: inline-block;
  color: #858585;
  appearance: none;
  border: none;
  padding: 0;
  margin: 1em;
  text-decoration: none;
}
.titleLink:hover{
  color: #cfcfcf;
}

.titleLinkInner{
  display: flex;
  align-items: center;
}

.title{
  font-size: 24px;
  margin: 0;
  margin-left: 0.2em;
}